<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@@pageTitle</title>
    <!-- Dynamic Meta Description -->
    <meta name="description" content="@@pageDescription" />
    <meta name="keywords" content="@@pageKeywords" />

    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon" />

    <!-- Lightcase - Popup Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightcase/2.5.0/css/lightcase.min.css"
        integrity="sha512-UMjmYgC4H9o2+uhTFLYJVdzXfRonz73J/rZ0QMHXTRrpZQ1EE7irVZedfTuIiR4IEMDao3k9YMZCgQiaPi0paA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/main.min.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-17856449142"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-17856449142');
    </script>
</head>

<body>

    <!-- Body main wrapper start -->
    <div class="body-wrapper">

        <!-- HEADER AREA START (header-5) -->
        <header
            class="ltn__header-area ltn__header-5 ltn__header-logo-and-mobile-menu-in-mobile ltn__header-logo-and-mobile-menu ltn__header-transparent gradient-color-4---">

            <!-- ltn__header-middle-area start -->
            <div class="ltn__header-middle-area ltn__header-sticky ltn__sticky-bg-black">
                <div class="container">
                    <div class="row">
                        <div class="col-6 col-md-4">
                            <div class="site-logo-wrap">
                                <div class="site-logo">
                                    <a href="/">
                                        <img src="/assets/images/logo.png" class="img-fluid" width="250" height="60"
                                            alt="Header logo">
                                    </a>
                                </div>
                                <div class="get-support clearfix d-none">
                                    <div class="get-support-icon">
                                        <i class="icon-call"></i>
                                    </div>
                                    <div class="get-support-info">
                                        <h6>Get Support</h6>
                                        <h4><a href="tel:+919553609372">9553609372</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col header-menu-column menu-color-white">
                            <div class="header-menu d-none d-xl-block">
                                <nav>
                                    <div class="ltn__main-menu">
                                        <ul>
                                            <li class="@@if(context.active === 'home'){active}"><a href="/">Home</a>
                                            </li>
                                            <li class="@@if(context.active === 'services'){active}"><a
                                                    href="services.html">Services</a></li>
                                            <li class="@@if(context.active === 'aboutus'){active}"><a
                                                    href="aboutus.html">About Us</a></li>
                                            <li class="@@if(context.active === 'contactus'){active}"><a
                                                    href="contact-us.html">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="col-md-3 d-none d-xl-flex">
                            <div class="special-link">
                                <a href="https://wa.me/+919553609372" target="_blank">
                                    <img src="/assets/icons/wa-icon.png" alt="whatsapp logo" class="me-2 img-fluid" />
                                    <span class="text-white">9553609372</span>
                                </a>
                            </div>

                        </div>
                        <div class="col--- ltn__header-options ltn__header-options-2 ">
                            <!-- Mobile Menu Button -->
                            <div class="mobile-menu-toggle d-xl-none">
                                <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
                                    <svg viewBox="0 0 800 600">
                                        <path
                                            d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
                                            id="top"></path>
                                        <path d="M300,320 L540,320" id="middle"></path>
                                        <path
                                            d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
                                            id="bottom"
                                            transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__header-middle-area end -->
        </header>
        <!-- HEADER AREA END -->

        <!-- Utilize Mobile Menu Start -->
        <div id="ltn__utilize-mobile-menu" class="ltn__utilize ltn__utilize-mobile-menu">
            <div class="ltn__utilize-menu-inner ltn__scrollbar">
                <div class="ltn__utilize-menu-head">
                    <div class="site-logo">
                        <a href="/"><img src="/assets/images/logo.png" alt="Logo"></a>
                    </div>
                    <button class="ltn__utilize-close">×</button>
                </div>
                <div class="ltn__utilize-menu">
                    <ul>
                        <li class="@@if(context.active === 'home'){active}"><a href="/">Home</a>
                        </li>
                        <li class="@@if(context.active === 'services'){active}"><a href="services.html">Services</a>
                        </li>
                        <li class="@@if(context.active === 'aboutus'){active}"><a href="aboutus.html">About Us</a></li>
                        <li class="@@if(context.active === 'contactus'){active}"><a href="contact-us.html">Contact
                                Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Utilize Mobile Menu End -->

        <div class="ltn__utilize-overlay"></div>