<!-- ABOUT US AREA START -->
<div class="ltn__about-us-area pt-115 pb-90 mb-120--- aboutus_section">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-6 align-self-center order-2 order-lg-1">
                <div class="about-us-img-wrap about-img-left">
                    <img src="/assets/images/slider/service_man_img_1.png.jpeg" alt="About Us Image">
                    <div class="about-us-img-info about-us-img-info-2 about-us-img-info-3">

                        <div class="ltn__video-img ltn__animation-pulse1">
                            <img src="/assets/images/slider/front-view-young-man-fixing-motorcycle.png"
                                alt="video popup bg image">
                            <a class="ltn__video-icon-2 ltn__video-icon-2-border---" href="/assets/videos/ezyZip.mp4"
                                data-rel="lightcase:myCollection">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center order-lg-2">
                <div class="about-us-info-wrap">
                    <div class="section-title-area ltn__section-title-2--- mb-20">
                        <h6 class="section-subtitle section-subtitle-2">About Us</h6>
                        <h2 class="section-title">
                            Trusted & Verified  <br> Doorstep Bike Service
                        </h2>
                        <p>With trained mechanics and professional-grade tools, A2Z Bike Services delivers reliable bike
                            servicing right at your
                            doorstep. We focus on quality workmanship, timely service, and transparent pricing—so your
                            bike stays in top condition
                            without the hassle of visiting a workshop.</p>
                    </div>
                    <ul class="ltn__list-item-half clearfix">
                        <li>
                            <img src="/assets/icons/blue_tick_icon.png" class="me-2" alt="blue tick icon">
                            <span>Verified & Skilled Mechanics</span>
                        </li>
                        <li>
                            <img src="/assets/icons/blue_tick_icon.png" class="me-2" alt="blue tick icon">
                            <span>Emergency Roadside Bike Service Across Hyderabad</span>
                        </li>
                        <li>
                            <img src="/assets/icons/blue_tick_icon.png" class="me-2" alt="blue tick icon">
                            <span>Customer Assurance Card with Full Details</span>
                        </li>
                        <li>
                            <img src="/assets/icons/blue_tick_icon.png" class="me-2" alt="blue tick icon">
                            <span>Transparent Pricing & Free Pickup and Drop</span>
                        </li>
                    </ul>
                    <div class="btn-wrapper animated">
                        <a href="https://wa.me/+919553609372" target="_blank" class="theme-btn-1 btn btn-effect-1">
                         Contact Us
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ABOUT US AREA END -->