<!-- CALL TO ACTION START (call-to-action-6) -->
<div class="ltn__call-to-action-area call-to-action-6 before-bg-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div
                    class="call-to-action-inner call-to-action-inner-6 ltn__secondary-bg position-relative text-center---">
                    <div class="coll-to-info text-color-white">
                        <h2>Get Your Free Bike Service Estimate</h2>
                        <p>Tell Us About Your Service Need And Get An Instant Quote</p>
                    </div>
                    <div class="btn-wrapper">
                        <a href="https://wa.me/+919553609372" target="_blank" class="btn btn-effect-3 btn-white">
                            Contact Us
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CALL TO ACTION END -->